body {
    background-color: #5383c5;
    font-family: monospace;
    
  }
  
  #clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 40vw;
    background: url(http://www.clker.com/cliparts/7/4/u/g/O/Y/blue-clock-no-hands-hi.png) no-repeat;
    /*setting our background image*/
    background-size: 100%;
  }
  
  #hour,
  #minute,
  #second {
    position: absolute;
    background: rgb(0, 114, 28);
    border-radius: 10px;
    transform-origin: bottom;
  }
  
  #hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
  }
  
  #minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
  }
  
  #second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
  }
  
  .audio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 40vw;
  }
  
  /* This is a single-line comment */
  
  .center {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 3px solid #1100ff;
    padding: 10px;
  }
  
  p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  
  label {
    font-size: 28px;
  }
  
  #party {
    font-size: 28px;
    color: #0320fc;
  }
  
  form {
    margin: 0 auto;
    width: 800px;
  }
  
  #alarmTime {
    font-size: 28px;
  }
  
  #alarmButton {
    font-size: 28px;
  }
